/* src/App.css */
.App {
  display: flex;
}

.content {
  margin-left: 280px;
  padding: 20px;
}

.content section {
  margin-bottom: 40px;
}

.content h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
